*{
  padding: 0;
  margin: 0;

}
html{
  font-size: 62.5%;
}
body{
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1000px;
  padding: 2rem;
}
.body{
  background: snow;
}
a,span,img{
  display: inline-block;
  text-decoration: none;
}
a{
  text-align: center;
}
a:after,a:hover{
  box-shadow: 0px 5px 2px #DEE2E6;
}
li{
  list-style-type: none;
}
:root{
  --primary-1: snow;
  --primary-2: #ffc8dd;
  --primary-3: #ff70a5;
  --secondary-1: #bde0fe;
  --secondary-2: #99ceff;
  --secondary-3: #8093F1;
  --tertiory: #000000;
  --tertiory: #555562;
  --tertiory: #DEE2E6;
}
header{
  text-align: center;
}
nav{
  background: #DEE2E6;
  height: 7rem;
  text-align: center;
}
.acknowledge{
  color: #8093F1;
  padding: 0.6rem 0 0 0;
  text-align: center;

}
.p1{
  font-size: 1.5rem;
  margin: 0.7rem 0 0.2rem 0;
  color: #000;
  font-weight: bold;
  background: #DEE2E6;
  text-align: center;
}

.first-sec{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.menu-bar img{
  max-width: 2rem;
  height: auto;
  text-align: left;
}
.top-icons{
  display: flex;
  gap: 1.5rem;
}
.top-icons img{
  max-width: 2rem;
  height: auto;
}
.top-sec{
  text-align: center;
}
h1{
  color: #ff70a5;
  font-size: 5rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 8rem;
  line-height: 8rem;
  text-align: center;

}
.summer{
  background: #ffc8dd;
  padding: 0.3rem 0.8rem 0.2rem 0.8rem;
  margin: 0.4rem;
  border-radius: 25%;
  text-align: center;
  font-family: 'pacifico', static;
  color: ghostwhite;
}
.first-img{
  width: 100%
}
.shop-now{
  font-size: 2rem;
  font-weight: 90rem;
  background: #99ceff;
  color: #000;
  padding: 0.5rem 0.7rem ;
  border-radius: 5rem;
  margin: 2rem 0 15rem 0;
  text-align: center;
}
.shop-now:visited,.shop-now:link{
  transition: 0.5s;
}
.shop-now:active,.shop-now:hover{
  transform: scale(1.3,1.3);
}
.p2{
  font-size: 1.5rem;
  color: #000;
  margin-top: 8rem;
  text-align: center;

}
.city{
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.8rem;
  color: #000;
  text-align: center;
}
main{
  text-align: center;
}

h2{
  font-size: 4rem;
  margin-bottom: 10rem;
  font-family: 'titan one';

}
.hot{
  background:  #ffc8dd;
  padding: 1rem;
  border-radius: 1rem;
}
h3{
  text-transform: capitalize;
  font-size: 3rem;
  margin: 8rem 0 2rem 0;
  font-family: 'titan one';
}
.p3{
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: black  ;
  padding: 1rem;
  border-radius: 20%;
}
.lip-img{
  max-width: 70%;
  height: auto;
  border-radius: 1rem;
  margin-top: 3rem;
}
.lip-img:link,.lip-img:visited{
  transition: 0.5s;
}
.lip-img:hover,.lip-img:active{
  transform: scale(1.3,1.3);
}
.foundation{
  max-width: 30rem;
  height: auto;
  border-radius: 1rem;
  margin-top: 3rem;
}
.foundation:link,.foundation:visited{
  transition: 0.5s;
}
.foundation:hover,.foundation:active{
  transform: scale(1.3,1.3);
}

.img-flex {
  display: flex;
  height: auto ;
  flex-direction: row;
  gap: 1rem;
  margin-top: 5rem;
  justify-content: center;
}
.img-flex img{
  max-width: 130px;
  width: 0 auto;
  height: auto;
  border-radius: 1rem;
}
.img-flex img:visited,.img-flex img:link{
  transition: 0.5s;
}
.img-flex img:hover,.img-flex img:active{
  transform: scale(1.5,1.5);
}
.blush-img{
  max-width: 30rem;
  height: auto;
  border-radius: 1rem;
}
.blush-img:link,.blush-img:visited{
  transition: 0.5s;
}
.blush-img:hover,.blush-img:active{
  transform: scale(1.3,1.3);
}
.get-start{
  font-size: 1.5rem;
  font-weight: 90rem;
  background:  #99ceff;
  color: #000;
  padding: 0.4rem;
  border-radius: 5rem;
  margin: 10rem 0 3rem 0;
}
.get-start:active,.get-start:hover{
  transition: 0.5s;
}
.get-start:active,.get-start:hover{
  transform: scale(1.3,1.3);
}
.register{
  font-size: 1.5rem;
  font-weight: 90rem;
  background:  #99ceff;
  color: #000;
  padding: 0.4rem;
  border-radius: 5rem;
  margin: 2rem 0 5rem 0;
    transition: 0.5s;
}
.register:visited,.registed:link{
  transition: 0.5s;
}
.register:active,.register:hover{
  transform: scale(1.3,1.3);
}
.p4{
  font-size: 2rem;
  font-weight: bold;
  color: #ff70a5;
}

footer{
  text-align: center;
}
h4{
  margin: 2rem 0 1rem 3rem;
  text-align: left;
}
.p6{
  margin: 0 3rem 0 3rem;
  text-align: left;
}
a.sign-up{
  text-align: center;
  padding: 0.3rem;
  border-radius: 5rem;
  margin: 1rem;
  color: #000;
  border: 1.2px solid #99ceff;
}
.last-icons{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 1rem;
}
.last-icons img{
  max-width: 2rem;
  height: auto;
}
.p5{
  font-size: 0.5rem;
  padding: 5rem 0 1rem;
  color: #8093F1;
  line-height: 1.5rem;
}